{
    "database": {
        "host": "",
        "port": "",
        "user": "",
        "pass": "",
        "database": ""
    },
    "secure_token": "",
    "routing": {
        "": {
            "route": "/",
            "method": "get",
            "action": "index",
            "view": "index",
            "layout": "index",
            "object": "\\Manager\\Main",
            "enabled": true
        },
        "system": {
            "route": "/system",
            "method": "post",
            "action": "system",
            "view": "api_response",
            "layout": "output",
            "object": "\\System\\SetData",
            "enabled": true
        },
        "command_get": {
            "route": "/command_get",
            "method": "post",
            "action": "command_get",
            "view": "api_response",
            "layout": "output",
            "object": "\\Command\\GetData",
            "enabled": true
        },
        "command_set": {
            "route": "/command_set",
            "method": "post",
            "action": "command_set",
            "view": "api_response",
            "layout": "output",
            "object": "\\Command\\SetData",
            "enabled": true
        },
        "light_on": {
            "route": "/light_on",
            "method": "post",
            "action": "light_on",
            "view": "api_response",
            "layout": "output",
            "object": "\\Light\\Enable",
            "enabled": true
        },
        "light_off": {
            "route": "/light_off",
            "method": "post",
            "action": "light_off",
            "view": "api_response",
            "layout": "output",
            "object": "\\Light\\Disable",
            "enabled": true
        },
        "light_default": {
            "route": "/light_default",
            "method": "post",
            "action": "light_default",
            "view": "api_response",
            "layout": "output",
            "object": "\\Light\\SetDefault",
            "enabled": true
        },
        "alert": {
            "route": "/alert",
            "method": "post",
            "action": "alert",
            "view": "api_response",
            "layout": "output",
            "object": "\\Alert\\Uploader",
            "enabled": true
        }
    },
    "system": {
        "temp-parsing": {
            "host_name": {
                "check": "temp=[\d]+\.?[\d]{1,2}?\"C",
                "parse": "[\d]+\.?([\d]+)?"
            },
            "host_name2": {
                "check": "temp1:[ ]+\+[\d]+\.?([\d]+)?°C",
                "parse": "[\d]+\.?([\d]+)?"
            }
        }
    }
}
